/******************
Configuracoes
*******************/
$largura-site: 1220px;
$screen-phone: "only screen and (max-width: 768px)";
$screen-largura: "only screen and (min-width:"+ $largura-site +")";

/******************
Fontes
*******************/
$fonte: 'Google Sans', sans-serif;


header, section, footer {
    position: relative;
    max-width: $largura-site;
    width: 100%;
    margin: auto;
    font-family: $fonte;
    font-size: 1.313rem;
}