@import "reset";
@import "config";
@import "fonts";
@import "colors";

/******************
HEADER CHROMECAST
*******************/
.container-chromecast {
    display: flex;
    // flex-wrap: wrap-reverse;
    background-color: $bg-white;
}

.container-chromecast__div {
    margin-right: 40px;
    // padding: 4.688rem 0 0 4.375rem;
}

.container-chromecast__div--column {
    display: flex;
    flex-direction: column;
    padding: 4.688rem 0 4.688rem 4.375rem;

    h1 {
        color: $light-grey;
        font-size: 3.1rem;
        font-weight: bold;
        margin: 5rem 0;
    }
}

.logo-plataformas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-plataformas__div {
    display: inline;
    margin-right: 30px;
}

.logo-plataformas__div:last-child {
    display: inline;
    margin-right: 0;
}

/******************
SECTION FILMES
*******************/
.container-filmes{
  display: flex;
  flex: row;
  background-color: $bg-grey;
  padding: 70px 50px 70px 20px;
}
.container-filmes__filmes--padding{
    color: $light-grey;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px 50px 20px 50px;
    p{
        font-weight: normal;
        font-family: "Google Sans", sans-serif;
        margin-top: 30px;
    }
}   



/******************
SECTION PLUGUE
*******************/
.container-plugue{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding-left: 50px;
}

.container-plugue__plugue--padding{
  padding-right: 100px;
  h1{
      color: $light-grey;
      line-height: 1.4;
      width: 470px;
  }
  sup{
      font-size: 1rem;
  }
}
/******************
SECTION TRANSMITA
*******************/

.container-transmita{
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-grey;
}

.container-transmita__text{
    width: 400px;
    position: absolute;
    margin-left: -700px;
    color: $light-grey;
    h2{
        width: 300px;
        sup{
            font-size: 1.2rem;
        }
    }
}





/******************
SECTION CONFIGURAÇÃO
*******************/
.container-configuracao {
    background-color: $bg-grey;
    text-align: center;
    color: $light-grey;
    padding: 3.438rem 3.125rem;

    h2 {
        font-size: 1.875rem;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: 1.375rem;
        color: $light-grey;
        margin-bottom: 5rem;

        span {
            font-weight: bold;
            display: block;
            margin-bottom: .575rem;
        }
    }

    .types-configuration {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        div {
            width: 350px;

            p {
                width: 100%;
                margin-top: 0.575rem;
            }
        }
    }
}


/******************
FOOTER
*******************/


footer {
    img {
        max-width: 100%;
    }

    .footer-referencias {
        padding: 1.875rem 1.25rem;

        p {
            font-size: .813rem;
            color: $light-grey;
            text-align: justify;
        }
    }
}
