@import "reset";
@import "config";
@import "fonts";
@import "colors";

/******************
HEADER CHROMECAST
*******************/
.container-chromecast {
    display: flex;
    // flex-wrap: wrap-reverse;
    background-color: $bg-white;
}

.container-chromecast__div {
    margin-right: 40px;
    // padding: 4.688rem 0 0 4.375rem;
}

.container-chromecast__div--column {
    display: flex;
    flex-direction: column;
    padding: 4.688rem 0 4.688rem 4.375rem;

    h1 {
        color: $light-grey;
        font-size: 3.1rem;
        font-weight: bold;
        margin: 5rem 0;
    }
}

.logo-plataformas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-plataformas__div {
    display: inline;
    margin-right: 30px;
}

.logo-plataformas__div:last-child {
    display: inline;
    margin-right: 0;
}

/******************
SECTION FILMES
*******************/
.container-filmes{
  display: flex;
  flex: row;
  background-color: $bg-grey;
  padding: 70px 50px 70px 20px;
}
.container-filmes__filmes--padding{
    color: $light-grey;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px 50px 20px 50px;
    p{
        font-weight: normal;
        font-family: "Google Sans", sans-serif;
        margin-top: 30px;
    }
}   



/******************
SECTION PLUGUE
*******************/
.container-plugue{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}

.container-plugue__plugue--padding{
  padding-right: 100px;
}
